<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ANC Study Registration</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
  </head>
  
  <body>
    
    <nav class="navbar is-spaced" role="navigation" aria-label="main navigation">
      <input type="checkbox" id="menu-toggle" class="is-hidden">
      <div class="navbar-brand">
        <a class="navbar-item" href="{{ SITEURL }}/index.html">
          <img src="{{ url_for('static', filename='images/logo_plain.svg') }}" style="max-height:4rem">
        </a>
        <label for="menu-toggle" class="navbar-burger">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </label>
      </div>
      <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-end">
          {% if user %}
            <a class="navbar-item button is-light" href="/logout">Logout</a>
          {% else %}
            <a class="navbar-item button is-info" href="/login">Login</a>
          {% endif %}
        </div>
      </div>
    </nav>
    
    {% block content %}
    {% endblock %}
    
    <footer class="footer has-background-info has-text-white">
      <div class="content has-text-centered">
        <p>
          Design powered by <a href="https://bulma.io">Bulma</a>.
        </p>
      </div>
    </footer>
  </body>
</html>
