{% extends "base.html" %}
{% block content %}

  {% if user %}
  <pre>
  {{ user|tojson }}
  </pre>
  
  <section class="section">
    <div class="container">
      <div class="content">
        
        <form method="post" action="/submit">
          
          {{ form.csrf_token }}
          
          {% for field in form %}
            {% if field.type == "StringField" %}
              <div class="field">
                <label class="label">{{ field.label }}</label>
                <div class="control">
                  {{ field }}
                </div>
                <p class="help">{{ field.description }}</p>
              </div>
            {% elif field.type == "SelectField" %}
              <div class="field">
                <label class="label">{{ field.label }}</label>
                <div class="control">
                  <div class="select">
                    {{ field }}
                  </div>
                </div>
                <p class="help">{{ field.description }}</p>
              </div>
            {% endif %}
          {% endfor %}
          
          <div class="control">
            <button class="button is-info" type="submit">Submit</button>
          </div>
          
        </form>
        
      </div>
    </div>
  </section>
  {% else %}
  <section class="hero is-info is-medium">
    <div class="hero-body ">
      <div class="container has-text-left">
        <p class="title is-size-1 anc-full-name">
          Austrian NeuroCloud Study Registration
        </p>
        <p class="subtitle">
          Register your study to enable automatic data acquisition.
        </p>
      </div>
    </div>
  </section>
  {% endif %}

{% endblock %}