{% extends "base.html" %}
{% block content %}

  <section class="section">
  <div class="container">
    <div class="content">
      <h1 class="title">Study registration summary</h1>
      <p>Study abbreviation: {{ form['studyabbrev'] }}</p>
      <p>Data owner name: {{ form['dataowner'] }}</p>
      <p>Site: {{ form['site'] }}</p>
    </div>
  </div>
  </section>

{% endblock %}